include CHANGES.md
include README.md
include requirements.txt
include requirements_doc.txt
include LICENSE

graft tests
graft doc
prune doc/_build
prune doc/_templates

global-include *.pyx
global-include *.pxd

global-exclude __pycache__/*
global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude .git*
global-exclude .deps/*
global-exclude .DS_Store
